html{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    background : none;
}

h1{
    text-align: center;
    color: white;
    font-size: 3em;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-bottom:0;
}
li{
    color: white;
    display: inline;
}
p{
    color: white;
  
    margin: 0;
}
#baseline, #badge{
    text-align: center;
    color: white;
    display: block;
    margin-bottom: 2em;
}

.square{
    background-color: rgba(255,255,255,0.6);
    border: 5px solid white;
    border-radius: 1em;
    width: 50vw;
    text-align: center;
    padding: 1em;
    margin: 1em 2em;
    display: inline-flex;
    justify-content: space-between;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgb(255 255 255 / 10%);
    transition: all 0.3s ease 0s;
    color: #000;
}
.square:hover{
    background-color: #6d500d99;
    border: 5px solid rgb(247,184,37);
    cursor: pointer;
    box-shadow: 0px 15px 20px rgba(247,184,37, 15%);
    transform: translateY(-7px);
    color: white;

}
#copyright {
    align-items: center;
    justify-content: center;
    margin-top: 30%;
}
#top{
    position: absolute;
    top: 0;
    right: 0;
}
#connection{display: flex; }
#connection a{color: white;}
#connection a:hover{color: rgb(247,184,37);}

section{
    display: flex;
    height: 100vh;
    justify-content: center;
}
.formulary{
    display: block;
   
}
#inside{
    margin: auto;
}
i{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.container
{
color: white;
}

.bouton-upload-page{
    background-color: #f7b825;
    border: none;
    color: rgb(157, 33, 33);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 1em;
    box-shadow: 0px 8px 15px rgb(255 255 255 / 10%);
    transition: all 0.3s ease 0s;
}
.bouton-upload-page:hover{
    background-color: #6d500d99;
    border: 5px solid rgb(247,184,37);
    cursor: pointer;
    box-shadow: 0px 15px 20px rgba(247,184,37, 15%);
    transform: translateY(-7px);
    color: white;
}
.squareLeft, .squareRight{
    color: white;
    font-weight: normal;
}
#badges-list{list-style-type: none;}



@media screen and (max-width: 800px) {
    .parcours-action{display: block; position: relative; float: right;} 
    .mobile{display: block;}
}